body{
    background-color: #f3f3f3;
}

.ul{
    font-size: 18px;
    font-family: monospace;
}
.hello{
    font-size: 100px;
    font-family: monospace;
    margin-left: -5px;
}
.circle{
    background-color: #eea302;
    width: 100px;
    height: 100px;
   
}
.circle2{
    background-color: #ff3b25;
    width: 100px;
    height: 100px;
}
.circle3{
    background-color: #80d8da;
    width: 100px;
    height: 100px;
}

.circle:hover,.circle2:hover,.circle3:hover {
    transition: 0.5s;
    cursor: pointer;
    background-color: #f3f3f3;
    
}
.margin{
    margin-top: 120px;
}
.forCircles{
    width: 100px;
    height: 100px;
}
